.site-footer {
    margin-bottom: 55px;
    margin-top: 30px;

    @include breakpoint('medium') {
        margin-top: 55px;
    }

    a[href*='#'] {
        cursor: default;
    }
}
.footer-logo {
    margin-bottom: 20px;

    @include breakpoint('medium') {
        margin-right: percentage(1/24);
    }
}
.copyright {
    color: $rpx-grey;
    font-size: 12px;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
    width: percentage(9/10);

    @include breakpoint('medium') {
        flex-direction: row;
    }

    .sub-menu-wrapper {
        border-bottom: 1px solid #6e6e6e;
        margin-bottom: 10px;
        margin-right: 10px;
        padding-bottom: 10px;
        padding-right: 10px;

        @include breakpoint('small') {
            border-bottom: none;
            border-right: 1px solid #6e6e6e;
            margin-right: 20px;
            padding-right: 20px;
            margin-bottom: 0;
            padding-bottom: 0;
        }

        &:last-child {
            border-bottom: none;
            border-right: none;
            margin-right: 0;
            padding-right: 0;
        }
    }

    .menu {
        display: flex;
        flex-direction: column;

        @include breakpoint('small') {
            flex-direction: row;
        }
    }

    .sub-menu {
        list-style: none;
        padding: 0;
        margin: 0;

        .menu-item a {
            &:link, &:visited {
                color: $rpx-grey;
                display: block;
                text-decoration: none;
            }
        }
    }

    .sub-menu-top-link {
        display: block;
        font-family: $font__secondary;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 3px;

        @include breakpoint('small') {
            font-size: 20px;

        }

        &:link, &:visited {
            color: $rpx-headlines;
            text-decoration: none;
        }
    }
}
