.hamburger-helper {
	box-sizing: content-box;
	cursor: pointer;
	height: 20px;
	position: relative;
	transform: rotate(0deg);
	transition: 0.5s ease-in-out;
	width: 24px;

	&__container {
		position: relative;
	}

	span {
		background-color: #0070e0;
		border-radius: 1px;
		display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		opacity: 1;
		left: 0;
		transform: rotate(0deg);
		transition: 0.25s ease-in-out;

		&:nth-child(1) {
			top: 0;
		}
		&:nth-child(2),
		&:nth-child(3) {
			top: 9px;
		}
		&:nth-child(4) {
			top: 18px;
		}
	}

	&--expanded {
		span {
			color: $rpx-headlines;
		}
		span:nth-child(1) {
			top: 9px;
			width: 0;
			left: 50%;
		}
		span:nth-child(2) {
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		span:nth-child(3) {
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
		span:nth-child(4) {
			top: 10px;
			width: 0;
			left: 50%;
		}
	}
}

.mobile-menu--open {
	overflow-y: hidden;

	@include breakpoint('medium') {
		overflow-y: auto;
	}
}
