.site-title {
	display: none;
	// visibility: hidden;
	// opacity: 0;
	// look into seo
}

.site-header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 20px auto;
	max-width: 1080px;
	width: 90%;

	@include breakpoint ('medium') {
		align-items: flex-start;
		margin-bottom: 40px;
		margin-top: 40px;
	}
}

.site-branding {
	flex-shrink: 0;

	@include breakpoint('medium') {
		flex-shrink: 1;
	}
}

.site-logo {
	display: block;
	height: 40px;

	@include breakpoint ('medium') {
		flex: 1;
		height: auto;
		max-height: 50px;
		max-width: 225px;
		width: 100%;
	}

	svg {
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
	}
}
