.main-navigation {
	flex: 0 1 530px;
	margin-left: percentage(1/24);
	max-width: 530px;

	@include breakpoint('medium') {
		flex-shrink: 0;
	}
}
.menu-main-menu-container {
	display: none;

	@include breakpoint('medium') {
		display: block;
	}
}
#primary-menu {
	// TODO: mobile style
	list-style: none;
	display: flex;

	@include breakpoint('medium') {
		justify-content: space-between;
		margin: 0;
		padding-left: 0;
	}
}
.site-header {
	.menu-item {
		flex: 1 0 auto;
		font-family: $font__secondary;
		text-align: right;

		a:link,
		a:visited {
			color: #A8A8A7;
			font-size: 21px;
			font-weight: 400;
			padding: 10px;
			text-decoration: none;
		}

		a:hover {
			color: $rpx-grey;
		}

		&:last-of-type {
			margin-right: -5px;
		}
	}
}

#primary-menu .menu-item:last-child {
	a:link,
	a:visited {
		color: $rpx-orange;
		font-weight: 500;
	}
}

/* Small menu. */
.main-navigation.toggled ul,
.menu-toggle {
	display: block;
	margin-left: auto;
}
@include breakpoint('medium') {
	.menu-toggle {
		display: none;
	}
}

.comment-navigation,
.post-navigation,
.posts-navigation {
	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.menu-mobile-menu-container {
	background-color: #f1f2f2;
	display: none;
	height: calc(100vh - 115px);
	left: 0;
	position: absolute;
	top: 115px;
	width: 100%;
	z-index: 999;

	&.toggled {
		display: block;
	}

	@include breakpoint('medium') {
		display: none !important;
	}
}

#mobile-menu {
	> .menu-item  > {
		a:link, a:visited {
			border-top: 3px solid white;
			color: $rpx-headlines;
			font-family: $font__secondary;
			font-weight: 600;
			text-decoration: none;
			margin-top: 10px;
		}

		&:first-of-type a {
			border-top: none !important;
			margin-top: 0 !important;
		}
	}
	.sub-menu {
		padding: 0;
		list-style: none;
	}
}

#mobile-menu {
	list-style: none;
	margin: 0;
	padding: 30px percentage(1/12);

	.menu-item {
		text-align: left;

		a {
			display: block;
			padding: 10px 0 0;
		}
	}
}
