// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
    font-size: ($sizeValue * 16) * 1px;
    font-size: $sizeValue * 1rem;
}
// Center block
@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
// Clearfix
@mixin clearfix() {
    content: "";
    display: table;
    table-layout: fixed;
}
// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
    clear: both;
}
/*********************
Breakpoints
*********************/
@mixin breakpoint($point) {
    @if $point == 'large' {
        @media only screen and (min-width: 60em) {
             @content;
        }
        // 960px and up
    }

    @if $point == 'medium' {
        @media only screen and (min-width: 46em) {
             @content;
        }
        // 736px and up
    }

    @else if $point == 'small' {
        @media only screen and (min-width: 30em) {
             @content;
        }
        // 480px and up
    }

    @else if $point == 'mobileonly' {
        @media (max-width: 45.9375em) {
             @content;
        }
        // 735px and down
    }
}
/*********************
Buttons
*********************/
@mixin button {
    border: 1px solid $rpx-orange;
    border-radius: 0.6em;
    font-size: 20px;
    line-height: 1;
    padding: 0.6em 1em 0.466666666em; // 18px 30px 14px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, color 0.2s ease-in-out;

    @include breakpoint ('medium') {
        font-size: 30px;
    }
}
@mixin button--primary {
    background-color: $rpx-orange;
    color: white;
    font-weight: bold;

    &:focus,
    &:hover {
        background-color: white;
        color: $rpx-orange;
    }
}
@mixin button--secondary {
    background-color: white;
    border: 1px solid $rpx-orange;
    color: $rpx-orange;
    font-weight: 300;

    &:focus,
    &:hover {
        background-color: $rpx-orange;
        color: white;
    }
}
