// rpx constants
$rpx-logo-blue: #007DC3;
$rpx-orange: #F58920;
$rpx-grey: #6E6E6E;
$rpx-grey--light: #f1f2f2;
$rpx-headlines: #000;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: $rpx-grey;
$color__background-button: $rpx-orange;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-banner: #00ADEE; // rpx banners
$color__background-callout: $rpx-grey--light; // rpx callouts / hovers
$color__background-separators: #F0F0F0; // rpx separators

$color__text-screen: #21759b;
$color__text-input: $rpx-grey;
$color__text-input-focus: #111;
$color__link: #057DC1;
$color__link-visited: purple;
$color__link-hover: #1585cf;
$color__text-main: $rpx-grey;
$color__text-headlines: $rpx-headlines;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
