$font__main: 'AvenirLTStd',Arial,sans-serif; // rpx headlines
$font__secondary: 'Proxima Nova Condensed','proxima-nova-condensed'; // rpx body copy
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.4;
$font__line-height-pre: 1.6;
