.box-wrapper {
    margin-top: 30px;

    @include breakpoint('medium') {
        margin-top: 50px;
    }

    &:after {
        content: '';
        clear: both;
        display: table;
    }
}
.box {
    margin-top: 10px;

    text-align: center;
    transition: background-color .3s ease-in-out;

    @include breakpoint('medium') {
        border: 5px solid white;
        float: left;
        margin-top: 0;
        min-height: 308px;
        width: percentage(1/3);
    }

    a:link, a:visited {
        align-items: center;
        background-color: $rpx-grey--light;
        color: inherit;
        display: flex;
        height: 100%;
        padding: 20px;
        text-decoration: none;
        transition: background-color .3s ease-in-out;

        @include breakpoint('medium') {
            align-items: normal;
            flex-direction: column;
            justify-content: flex-start;
            padding: 40px 20px;
        }

        img {
            filter: brightness(100%) invert(0);
            transition: filter .2s ease-in-out;
        }
    }

    a:hover {
        background-color: #31abdf;

        .box__text {
            color: white;
        }

        img {
            filter: brightness(0) invert(1)
        }
    }

    &__image-wrap img {
        display: block;

        @include breakpoint('medium') {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__text-wrap {
        padding-left: 15px;
        text-align: left;

        @include breakpoint('medium') {
            padding-left: 0;
            text-align: center;
        }
    }

    &__headline {
        @include title--medium;
        margin: 0;
    }

    &__text {
        @include copy--standard;
        margin: 5px 0 0;
        transition: color .3s ease-in-out;

        @include breakpoint('medium') {
            margin: 10px 0;
        }
    }

    &--image-bottom {
        .box__image-wrap {
            @include breakpoint('medium') {
                margin-top: auto;
            }
        }

        a {
            flex-direction: row-reverse;
            justify-content: flex-end;
        }
    }

    &--image-top {
        .box__image-wrap {
            display: flex;
            justify-content: center;
            max-height: 57px;
            min-width: 104px;

            @include breakpoint('medium') {
                margin-bottom: 20px;
            }
        }
    }
}
