.case-study-results {

    &__result {
        border-top: 1px solid $rpx-grey;
        margin-top: 30px;
        padding-top: 30px;

        &:first-child {
            border-top: none;
        }
    }

    &__result-headline {
        font-weight: 600;
        line-height: 1.3;
        color: $rpx-orange;
        font-family: $font__main;
        font-size: 29px;
        margin: 0;
        text-transform: uppercase;
    }

    &__headline {
        color: $rpx-headlines;
        font-weight: 600;
        line-height: 1.3;
        font-family: $font__main;
        font-size: 30px;
        margin: 10px 0 0;
    }

    &__read-more-btn {
        color: $rpx-logo-blue;
        font-size: 25px;
        text-decoration: none;
    }

    &__intro-text {
        color: $rpx-grey;
        font-weight: 300;
        font-size: 25px;

    }

    &__read-more {
        color: $rpx-grey;
        font-weight: 300;
        display: none;

        &--visible {
            display: block;
        }
    }

}
