.faq {

    &__wrap {
        margin-top: 30px;

        @include breakpoint('medium') {
            margin-top: 50px;
        }
    }

    &__headline {
        align-items: center;
        background-color: $rpx-grey--light;
        cursor: pointer;
        color: $rpx-headlines;
        display: flex;
        font-size: 25px;
        font-weight: normal; // should be medium
        margin-top: 15px;
        padding-bottom: 20px;
        padding-top: 20px;
        position: relative;
        text-decoration: none;

        &:before {
            color: $rpx-logo-blue;
            content: '+';
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;
            width: percentage(2/24);
        }
    }

    &__text {
        @include copy--standard;
        display: none;
        max-width: 940px;
    }

    &__text--visible {
        display: block;
    }
}

.faq-more {

    &__headline {
        @include title--medium;
        margin-top: 30px;
        margin-bottom: 0;

        @include breakpoint('medium') {
            margin-top: 50px;
        }
    }
}
