.footer-cta {
    align-items: center;
    background-color: $color__background-banner;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    padding: 30px percentage(1/12);
    text-align: center;
    transition: background-color .3s ease-in-out;

    @include breakpoint('medium') {
        flex-direction: row;
        margin-top: 65px;
    }

    &:link, &:visited {
        font-weight: 500;
        text-decoration: none;
    }

    &:hover {
        color: #fff;
        background-color: $rpx-logo-blue;
    }
}

.footer-cta-link {
    font-size: 20px;
    margin-right: 20px;

    @include breakpoint('medium') {
        font-size: 25px;
        padding-top: 3px;
    }
}
