.home {

    &__headline-wrap {
        background-color: $color__background-banner;
        background-image: url('../../../img/header-banner-bg.png');
        background-position: center top;
        background-repeat: no-repeat;
        padding: 35px 0;
        text-align: center;

        @include breakpoint('medium') {
            padding: 50px 0;
        }
    }

    &__headline {
        color: white;
        font-size: 30px;
        font-weight: 500;
        margin: 0 auto;
        max-width: 1080px;
        width: percentage(9/10);

        @include breakpoint('small') {
            font-size: 45px;
        }

        @include breakpoint('medium') {
            font-size: 76px;
        }
    }

    &__boxes {
        display: flex;
        flex-direction: column;
        margin-top: 30px;

        @include breakpoint('medium') {
            flex-direction: row;
            justify-content: space-between;
            margin-top: 50px;
        }
    }

    &__box {
        flex-basis: calc(#{percentage(1/3)} - 15px);
        margin-top: 15px;

        &:first-child {
            margin-top: 0;
        }

        @include breakpoint('medium') {
            margin: 0;
        }
    }

    &__box-link {
        background-color: $rpx-grey--light;
        color: inherit;
        display: block;
        padding: 45px 10px;
        text-align: center;
        text-decoration: none;

        @include breakpoint('medium') {
            height: 100%;
        }

        &:hover {
            background-color: $rpx-logo-blue;
            color: white;

            .home__box-headline,
            .home__box-text {
                color: white;
            }
        }
    }

    &__box-headline {
        @include title--medium;
        margin: 0;
    }

    &__box-text {
        @include copy--standard;
        margin: 10px 0 0;
    }
}
