.news-articles {

    &__items {
        display: flex;
        flex-flow: row wrap;
    }

    &__item {
        flex: 0 0 100%;
        margin-top: 15px;

        @include breakpoint('medium') {
            flex: 0 0 percentage(1/3);
            min-height: 250px;

            &:nth-child(3n+3) {
                .news-articles__link {
                    margin-right: 0;
                }
            }
        }
    }

    &__link {
        background-color: $rpx-grey--light;
        color: $rpx-headlines;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 20px;
        text-decoration: none;
        transition: background .3s ease-in-out,
                    color .3s ease-in-out;

        @include breakpoint('medium') {
            margin-right: 15px;
        }

        &:hover {
            background-color: #28aae1;
            color: #fff;

            .news-articles__link-category {
                color: $rpx-headlines;
            }
        }
    }

    &__link-category {
        color: #067dc1;
        font-size: 18px;
        font-family: $font__secondary;
        font-weight: 600;
        margin: 0;

        @include breakpoint('medium') {
            font-size: 26px;
        }
    }

    &__link-headline {
        font-size: 20px;
        font-weight: 500;
        margin: 5px 0 0;

        @include breakpoint('medium') {
            font-size: 28px;
            margin: 10px 0 0;
        }
    }
}

.press-releases {

    &__items {
        display: flex;
        flex-flow: row wrap;
    }

    &__item {
        flex: 0 0 100%;
        margin-top: 15px;

        @include breakpoint('medium') {
            flex: 0 0 percentage(1/3);
            min-height: 250px;

            &:nth-child(3n+3) {
                .news-articles__link {
                    margin-right: 0;
                }
            }
        }
    }

    &__link {
        background-color: $rpx-grey--light;
        color: $rpx-headlines;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 20px;
        text-decoration: none;
        transition: background 250ms ease-in-out,
                    color 250ms ease-in-out;

        @include breakpoint('medium') {
            margin-right: 15px;
        }

        &:hover {
            background-color: #aaaaaa;
            color: #fff;

            .press-releases__date {
                color: #231f20;
            }
        }
    }

    &__date {
        color: $rpx-orange;
        font-size: 18px;
        font-weight: 600;
        font-family: $font__secondary;

        @include breakpoint('medium') {
            font-size: 26px;
        }
    }

    &__link-text {
        font-size: 16px;
        font-weight: normal;
        margin: 10px 0 0;
    }

    &__link-headline {
        font-size: 20px;
        font-weight: 500;
        margin: 5px 0 0;

        @include breakpoint('medium') {
            font-size: 28px;
            margin: 10px 0 0;
        }
    }
}

@media only screen and (max-width: 45.9999em) {
    .newsroom-box {
        height: auto !important;
    }
}
