.entry-header, .page-header {
    background-color: $color__background-banner;
    background-image: url('../../../img/header-banner-bg.png');
    background-position: center top;
    background-repeat: no-repeat;
    min-height: 100px;
    display: flex;
    align-items: flex-end;

    @include breakpoint('medium') {
        min-height: 135px;
    }
}

.entry-title, .page-title {
    @include center-block;
    color: #fff;
    flex: 1;
    font-size: 30px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;

    @include breakpoint ('medium') {
        font-size: 45px;
    }
}

.page-header-wrap {
    align-items: flex-end;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
    padding: 10px 0;
    width: 90%;

    @include breakpoint('medium') {

    }

    svg {
        max-height: 50px;
        margin-right: 14px;

        @include breakpoint('medium') {
            margin-right: 30px;
            max-height: none;
        }
    }
}

.post-title {
    @include title--extra-large;
    margin: 30px 0 0;

    @include breakpoint('medium') {
        margin: 50px 0 0;
    }
}

.archive-post-title {
    margin-top: 30px;
    margin-bottom: 0;

    a:link, a:visited {
        @include title--medium;
        text-decoration: none;
    }
    a:hover {
        color: $rpx-logo-blue;
    }
}

.post-type-archive-broker-rundown {
    .entry-content {
        margin-top: 0;
    }
    .more-link {
        display: block;
    }
    .type-broker-rundown {
        border-top: 1px solid black;

        &:first-child {
            border-top: 0;
        }
    }
}
