.products_image-wrap {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width: 1080px;
    width: percentage(9/10);
}

.product-suite-boxes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.product-suite-box {
    border-bottom: 1px solid $color__background-hr;
    flex-basis: 100%;
    padding: 20px percentage(1/24);
    text-align: center;

    @include breakpoint ('medium') {
        border-right: 1px solid $color__background-hr;
        border-bottom: none;
        flex-basis: percentage(1/3);
        margin-top: 30px;
        max-width: percentage(1/3);
    }

    &:last-of-type,
    &:nth-child(3n + 3) {
        border-right: none;
    }

    &__headline {
        @include title--medium;
        margin: 0;
    }

    &__text {
        @include copy--standard;
        margin: 10px 0 0;
    }
}

.powerful-insurance-tools {
    border-bottom: 1px solid $color__background-hr;
    margin-top: 30px;
}

.insurance-tool {
    border-top: 1px solid $color__background-hr;

    &__link {
        align-items: center;
        display: flex;
        margin: 10px 0;
        padding: 10px;

        @include breakpoint ('medium') {
            padding: 10px percentage(1/24) 10px 0;
        }

        &:link,
        &:visited {
            text-decoration: none;
        }

        &:hover {
            background-color: #F1F2F2;
        }
    }

    &__image-wrap {
        align-items: center;
        display: flex;
        justify-content: center;
        flex: 0 0 percentage(4/24);
        margin-right: 10px;
        max-width: percentage(4/24);

        @include breakpoint('small') {
            margin-right: 0;
        }

        img {
            height: auto;
            max-width: 100%;
            width: auto;
        }
    }

    &__text-wrap {
        display: flex;
        flex: 0 percentage(20/24);
        flex-direction: column;
        justify-content: flex-start;
        max-width: 1080px * (20/24);

        @include breakpoint ('medium') {
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__headline {
        @include title--medium;
        margin: 0;

        @include breakpoint ('medium') {
            flex: 0 percentage(11/24);
            max-width: percentage(11/24);
        }
    }

    &__text {
        @include copy--standard;
        margin: 10px 0 0;
        text-align: left;

        @include breakpoint('medium') {
            flex: 0 percentage(13/24);
            margin: 0;
            max-width: percentage(13/24);
            text-align: center;
        }
    }
}
