input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background-color: $color__background-button;
	color: rgba(0, 0, 0, .8);
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.button {
    @include button;
}

.button--primary {
    @include button;
    @include button--primary;
}

.button--secondary {
    @include button;
    @include button--secondary;
}
