.input-form {
	select {
		border: 1px solid #000000;
		border-radius: 0;
		display: block;
		font-size: 21px;
		margin-top: 15px;
		min-height: 1.9047619048em;
		padding: 4px .5em;
		width: 100%;
		-webkit-appearance: none;
	}

	input[type="text"],
	input[type="email"] {
		border: 1px solid #000000;
		border-radius: 0;
		display: block;
		font-size: 21px;
		height: auto;
		line-height: 35px;
		padding: 3px .5em 0;
		margin-top: 15px;
		width: 100%;
	}

	input[type="radio"] {
		margin-right: 10px;
	}

	.radio-group {
		align-items: center;
		display: flex;
		margin-top: 5px;

		label {
			color: $rpx-headlines;
			font-size: 21px;
		    padding-top: 8px;
		}
	}

	fieldset {
		border: 0;
		margin: 30px 0 0;
		padding: 0;
	}

	.error {
		color: red;
		display: block;
		margin-top: 5px;
	}

}

.field-label {
	color: $rpx-headlines;
	display: block;
	font-family: $font__secondary;
	font-size: 28px;
	font-weight: 600;
	margin-top: 30px;
	margin-bottom: 0;
}
