@mixin copy--large {
	color: #6E6E6E;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.3;

	@include breakpoint('medium') {
		font-size: 30px;
	}
}

@mixin copy--standard {
	color: #6E6E6E;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.3;

	@include breakpoint('medium') {
		font-size: 21px;
	}
}

@mixin copy--small {
	color: #6E6E6E;
	font-size: 13px;
	font-weight: 300;
	line-height: 1.3;
}

.text {
	&--center {
		text-align: center;
	}

	&--subheadline {
		@include copy--large;
		text-align: center;

		p {
			margin-bottom: 0;
			margin-top: 30px;

			@include breakpoint('medium') {
				margin-top: 50px;
			}
		}

		em {
			color: #057dc1;
			font-style: normal;
		}
	}
}

.text--subheadline--products p {
	margin-top: 20px;

	@include breakpoint('small') {
		margin-top: 20px;

	}
}

.entry-content, .entry-content p {
	@include copy--standard;
}
