@font-face {
    font-family: 'AvenirLTStd';
    src: url('../fonts/avenir-lt-std/AvenirLTStd-Roman.eot');
    src: url('../fonts/avenir-lt-std/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir-lt-std/AvenirLTStd-Roman.woff') format('woff'),
         url('../fonts/avenir-lt-std/AvenirLTStd-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirLTStd';
    src: url('../fonts/avenir-lt-std/AvenirLTStd-book.eot');
    src: url('../fonts/avenir-lt-std/AvenirLTStd-book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir-lt-std/AvenirLTStd-book.woff') format('woff'),
         url('../fonts/avenir-lt-std/AvenirLTStd-book.ttf') format('truetype'),
         url('../fonts/avenir-lt-std/AvenirLTStd-book.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirLTStd';
    src: url('../fonts/avenir-lt-std/AvenirLTStd-Medium.eot');
    src: url('../fonts/avenir-lt-std/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir-lt-std/AvenirLTStd-Medium.woff') format('woff'),
         url('../fonts/avenir-lt-std/AvenirLTStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirLTStd';
    src: url('../fonts/avenir-lt-std/AvenirLTStd-Heavy.eot');
    src: url('../fonts/avenir-lt-std/AvenirLTStd-Heavy.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir-lt-std/AvenirLTStd-Heavy.woff') format('woff'),
         url('../fonts/avenir-lt-std/AvenirLTStd-Heavy.ttf') format('truetype'),
         url('../fonts/avenir-lt-std/AvenirLTStd-Heavy.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-nova-condensed';
    src: url('../fonts/proximanovacond/proximanovacond-regular.eot');
    src: url('../fonts/proximanovacond/proximanovacond-regular.eot?#iefix') format('embedded-opentype'),url('../fonts/proximanovacond/proximanovacond-regular.woff') format('woff'),url('../fonts/proximanovacond/proximanovacond-regular.ttf') format('truetype'),url('../fonts/proximanovacond/proximanovacond-regular.svg#proximanovacond/proximanovacond-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-nova-condensed';
    src: url('../fonts/proximanovacond/proximanovacond-bold-webfont.eot');
    src: url('../fonts/proximanovacond/proximanovacond-bold-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/proximanovacond/proximanovacond-bold-webfont.woff') format('woff'),url('../fonts/proximanovacond/proximanovacond-bold-webfont.ttf') format('truetype'),url('../fonts/proximanovacond/proximanovacond-bold-webfont.svg#ProximaNovaCondensedBold') format('svg');
    font-weight: bold;
    font-style: normal;
    text-transform:uppercase !important;}

@font-face {
    font-family: 'proxima-nova-condensed';
    src: url('../fonts/proximanovacond/proximanovacond-semibold-webfont.eot');
    src: url('../fonts/proximanovacond/proximanovacond-semibold-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/proximanovacond/proximanovacond-semibold-webfont.woff') format('woff'),url('../fonts/proximanovacond/proximanovacond-semibold-webfont.ttf') format('truetype'),url('../fonts/proximanovacond/proximanovacond-semibold-webfont.svg#proxima_nova_condensedSBd') format('svg');
    font-weight: 600;
    font-style: normal;
}
