@mixin title--extra-large {
	color: black;
	font-size: 30px;
	font-weight: 300;
	line-height: 1.3;

	@include breakpoint('medium') {
		font-size: 45px;
	}
}

@mixin title--large {
	color: #6E6E6E;
	font-size: 30px;
	font-weight: 300;
	line-height: 1.3;
}

@mixin title--medium {
	color: #231F20;
	font-family: $font__secondary;
	font-size: 20px;
	font-weight: 600;
	line-height: 1;

	@include breakpoint('medium') {
		font-size: 32px;
	}
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	line-height: 1.333;
}

.title--extra-large {
	@include title--extra-large;
	margin-bottom: 0;
	margin-top: 50px;

	@include breakpoint('medium') {
		margin-top: 65px;
	}
}

.title--large {
    @include title--large;
	margin-bottom: 0;
	margin-top: 50px;

	@include breakpoint('medium') {
		margin-top: 65px;
	}
}

.title--medium {
	@include title--medium;
}
