body,
button,
input,
select,
textarea {
	@include font-size(1);
	color: $color__text-main;
	font-family: $font__main;
	line-height: $font__line-height-body;
	font-weight: 300;
}

@import "font-face";
@import "headings";
@import "copy";
